{% extends "index.html" %}
{% load static %}
{% block link %}{% endblock link %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="section-title">
            <h3>{{ object.first_name | title }} o'chirish</h3>
        </div>
        <form action="" method="post" > {% csrf_token %}
            {{ form.as_p }}
            <p>Rostdan ham '{{ object.first_name | title }}'ni o'chirmoqchimisiz?</p>
            <input type="submit" class="btn btn-danger mt-4" value="Ha">
            
        </form>
    </div>
</div>
{% endblock content %}
