{% extends "index.html" %}
{% load static %}
{% block link %} {% static "css/add_students.css" %} {% endblock link %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="section-title">
            <h3>To'lov qo'shish</h3>
        </div>
        <form action="" method="post" > {% csrf_token %}
            <div class="add_students mt-4">
                <div class="first">
                    {% for student in students %}
                    <select name="student" id="student">
                        <option value="{{ student.id }}">{{ student.first_name }}</option>
                    </select>
                    {% endfor %}

                    <input  type="date" id="from_period" name="from_period" placeholder="..dan" required>
                    <input  type="date" id="do_period" name="do_period" placeholder="gacha.." required>
                    <input type="number" name="price" id="price" placeholder="Kurs narxi:" value="{{  }}" required>
                    <input type="email" name="email" id="email" placeholder="Email manzil:" required>
                    <input type="text" name="shartnoma_raqam" id="shartnoma_raqam" placeholder="Shartnoma raqami:" required>
                    <input type="text" name="PINFL_number" id="PINFL_number" placeholder="PINFL raqam:" required>
                </div>
                <div class="last">
                    <div>
                        <label for="birthday">Tug'ilgan kun: </label>
                        <input type="date" name="birthday" id="birthday" placeholder="Tug'ilgan kun:" required>
                    </div>
                    
                    <div>
                        <label for="acceptance_date">Qabul qilingan sana:</label>
                        <input type="date" id="date"  name="acceptance_date" placeholder="Qabul qilingan sana">
                        
                    </div>
                    <div>
                        <label for="group">Guruhni tanlang:</label>
                        <select name="group" id="group">
                            {% for group in groups %}                  
                            <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div>
                        <label for="region">Viloyatni tanlang:</label>
                        <select name="region" id="region">
                            {% for key, value in regions.items %}
                            <option value="{{ key }}">{{ value }}</option>                  
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" name="district" id="district" placeholder="Tumanni va manzilni kiriting:">
                </div>
            </div>
            <input type="submit" class="btn btn-primary mt-4" value="Saqlash">
            
        </form>
    </div>
</div>
{% endblock content %}
